/* variable */
:root {

    /* palette */
    --color-hd-bg: #FF6900;
    --color-hd-txt-: #ffffff;
    --color-main-bg: #ffffff;
    --color-foot-bg: #1A1A1A;
    --color-foot-txt: #ffffff;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


img {
    max-width: 100%;
}

/* COMMON */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}


.my-10 {
    margin-bottom: 10px;
}

/* HEADER */

.header {
    background-color: var(--color-hd-bg);


}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-25 {
    width: 25%;
}

.col-50 {

    width: 50%;
    display: flex;
    justify-content: center;

}

.logo {
    height: 25px;
}

.flex-list1 {
    display: flex;
    font-size: 1.1rem;

    li {
        margin-right: 10px;
    }
}

.flex-list2 {
    display: flex;
    justify-content: flex-end;

    li {
        margin-left: 10px;
    }
}

/* MAIN */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
    justify-content: space-between;

}

.col-30 {
    /* background-color: aqua;
    border: #1A1A1A solid 3px; */
    width: 30%;
}


/* card part */
.card {
    position: relative;
}

.note {
    position: absolute;
    left: 0;
    top: 85%;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 25px;
    padding: 5px 10px;
    background-color: #ffffff;
}


.promo {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
}

.green-bg {
    background-color: #008000;


}

.red-bg {
    background-color: #ff0000;

}

.description h3 {
    font-size: 1rem;
}

.description strong {
    color: #ff0000;
    margin-right: 5px;
}


.img2 {
    display: none;
}

.card:hover .img2 {
    display: block;
}

.card:hover .img1 {
    display: none;
}

/* FOOTER */

.footer {
    background-color: var(--color-foot-bg);
    color: var(--color-foot-txt);
    padding-top: 30px;
    padding-bottom: 30px;

}

.flex-footer {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.information ul {
    font-size: 0.8rem;

}

.external-link {
    text-align: center;
}